header { 
    background-color: #9DE1f0;
    height: 100px;
  
    position: sticky;
}

img {position: relative;
    top: 30px; 
    width: 5%;

}

.botones {
text-align: center;
position: relative;

}
